* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

.backgroundEditProfile {
    background-image: url(../Images/light-bulb-on-white-panel-1166643.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.page-body {
    padding: 50px;
    margin-left: 3%;
}

.edit-profile-page-header {
    margin-top: 4%;
    font-size: 25px;
}

.edit-profile-body {
    margin-left: 20%;
}

.image-label {
    margin-top: 20px;
    display:flex;
}

.preview-container {
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 10px;
    padding: 20px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.preview-container .default-preview {
    font-weight: bold;
    font-size: 15px;
}

.preview-container .default-preview .detail {
    font-weight: normal;
    font-size: 12px;
}

.preview-image {
    display: none;
    width: 100%;
}

input[type="file"] { 
    color:transparent;
}

#edit-name {    
    height: 24px;
}

#edit-mod {
    width: 350px;
    height: 24px;
}

.user-input {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

textarea {
    padding: 5px;
}

label {
    margin-right: 10px;
}

#modules-taking input {
    width: 400px;
}

#finishEdit {
    margin: 10px 18%;
    padding: 2px 5px;
}

.popup-profile .overlay-profile {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup-profile .content-profile {
  position: fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:550px;
  height:150px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
  border-radius:20px;
}

.popup-profile .close-btn-profile {
  cursor:pointer;
  position:absolute;
  right:5px;
  top:5px;
  width:30px;
  height:30px;
  color:rgba(255, 0, 0, 0.705);
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup-profile.active .overlay-profile {
  display:block;
}

.popup-profile.active .content-profile {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

.msg-profile {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -38%)

}
