

.backgroundContactUs {
    background-image: url(../Images/bright-glare-sun-wallpaper-880639.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow:auto;
    height: 100vh;
    width: 100%;
    padding: 0.1px;  

}

.contact-us-body {
    padding-top: 7%;
    text-align: center;
    margin-bottom: 2%;
}

.contact-header {
    font-size: 35px;
}

.inline {
    display: inline-block;
    margin: 14px 5px;
}

#nameC {
    margin-right: 30px;
    padding: 4px;
}

#emailC {
    padding: 4px;
}

.options {
    width: 35%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
}

#message-box {
    padding: 20px;
    margin-bottom: 10px;
}

#submit {
    padding: 4px 14px;
}

.popup-contactus .overlay-contactus {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup-contactus .content-contactus {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:550px;
  height:150px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
  border-radius:20px;
}

.popup-contactus .close-btn-contactus {
  cursor:pointer;
  position:absolute;
  right:5px;
  top:5px;
  width:30px;
  height:30px;
  color:rgba(255, 0, 0, 0.705);
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup-contactus.active .overlay-contactus {
  display:block;
}

.popup-contactus.active .content-contactus {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

.msg-contactus {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -38%)

}